%table#users
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Remove User
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role
        %td
          %button{:class => 'btn x_button'}X