- content_for(:head) do
  = javascript_include_tag 'google_auth'
  
- if flash[:notice]
  #notice.message= flash[:notice]

.container
  .center
    = link_to user_omniauth_authorize_path(:google_oauth2), :class => "popup btn btn-block btn-social btn-google-plus", :"data-width" => 800, :"data-height" => 600 do
      %i.fa.fa-google-plus
      Sign in with Google