%h1 Email

-# = form_tag email_index_path

  -# = label :send_to, 'To'
  -# = text_field :send_to, 'title'

  -# = label :movie, :director, 'Director'
  -# = text_field :movie, 'director'

  -# = label :movie, :rating, 'Rating'
  -# = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  -# = label :movie, :release_date, 'Released On'
  -# = date_select :movie, :release_date

  -# = submit_tag 'Send'