html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: Montserrat, Helvetica;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

#home_body {
	background-color:#00b4f0;
}

.center {
	height: 500px;
	width: 600px;
	background-color: white;
	border-radius: 50px;
	margin: auto;
	margin-top: 15%;
	padding-top: 80px;
}
.center img {
	display: block;
	margin:auto;
}
.center h1 {
	text-align:center;
	font-family: Montserrat;
	color: #767778;
}
.btn-google-plus {
		 margin: auto;
		 width:300px;
		 margin-top: 60px;		 
}



