html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.center {height: 100%; display:table-cell; vertical-align: middle; width: 200px}