/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
* {margin: 0; padding: 0;}

body {
	overflow: scroll;
}

#recipient_header {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 677px;
	border-bottom: 1px solid #cfcfcf;
}

.recipient_label {
	font-weight: bold;
}

.recipient_table {
	width: 100%;
	border-spacing: 0;
}

.recipient_table td {
	vertical-align: top;
}

.recipient_text, .recipient_edit {
	width: 100%;
	font-size: 13px;
	border: 0!important;
	margin: 0!important;
	outline: none;
	box-shadow: none;
	resize: none;
	text-align: left;
	overflow: hidden;
	height: 20px!important;
	padding: 6px 3px;
	color: black;
	background-color: white;
	padding-bottom: 3px;
	padding-top: 5px;
}

.filter_box, .edit_box {
	display: inline-block;
	font-size: 13px;
	padding: 3px;
	vertical-align: top;
	padding-top: 2px;
}

#subject_field {
	border-bottom: 1px solid #cfcfcf;
	margin: 0 0 2px;
	min-height: 30px;
	padding: 8px 7px 3px 7px;
}

.subject_text {
	border: 0!important;
	color: #222;
  	background-color: white;
  	font-size: 13px;
  	margin: 0;
  	outline: none;
  	padding: 4px 1px 4px 2px;
  	resize: none;
  	-webkit-box-sizing: border-box;
  	width: 100%;
}

#email_form {
	width: 66%;
	float: left;
}


#accordian {
	float: left;
	display: none;
	margin-left: 5px;
	background: #004050;
	width: 295px;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
	font: 15px "Avenir Next Pro Bold", "Helvetica", Arial, sans-serif;
	line-height: 37px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	background: linear-gradient(#003040, #002535);
	margin: 0;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 19px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
.selected {
	background: #003545;
	border-left: 5px solid #00b4f0;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

#accordian ul {
	margin-bottom: 0;
}

#accordian button {
	background: linear-gradient(#1783A8, #1D3F4E);
	border: none;
	width: 100%;
	padding: 2px;
}

#filter_label div {
	display: inline-block;
}

.left_fil {	
  display: inline-block;
  color: #222;
  margin: 2px 5px;
  max-width: 325px;
  max-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.ui_fil {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  cursor: default;
  display: inline-block;
  height: 25px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 3px;
}

.x {
  display: inline-block;
  width: 14px;
  height: 20px;
  background: no-repeat url(//ssl.gstatic.com/apps/gadgets/contactarea/contactarea_sprite_2.gif) -4px 0;
  opacity: .6;
  vertical-align: top;
  cursor: pointer;
}