#reset_body {
	    font-family: Montserrat;
	    margin-top: 50px;
	    margin-left:50px;
}

#reset_body .form-control {
	    width: 200px;
	    margin-bottom:20px;
}

#reset_body h1{
	    margin-bottom:30px;
}
#reset_body .btn {
	    background-color:#00b4f0;
	    color:white;
}
